/* ---- GENERAL STUFF ----- */
body {
font-family: 'Orbitron', sans-serif;
background: black;
color: white;
display: flex;
flex-direction: column;
align-items: center;
}

main {
display: flex;
border: 1px solid black;
}

h1 {

color: #2779bd;
font-size: 50px;
letter-spacing: 10px;
font-weight: 900;
}

ol {margin-left: -1em; list-style: none; counter-reset: li}

li::before {content: counter(li); color: red;
display: inline-block; width: 2em;
margin-left: -1em}

li {counter-increment: li; display: flex;}

li div:first-of-type, li div:last-of-type {
    width: 5em;
    text-align: center;
    width: 120px;
    flex-shrink: 0;
}

/* ---- GAME STUFF 123 ----- */
.highscores {
    margin-top: 1px;
    margin-left: 1em;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0,0,0,0.5);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.highscores h2 {
    text-align: center;
color: #f0e43f;
}

.output-container {
position: relative;
width:  1200px;
height: 800px;
}

#video {
    transform: scaleX(-1);
}

#output {
border: 1px solid white;
position: absolute;
top: 0;
transform: scaleX(-1);
}
